{% extends 'base.html.twig' %}

{% block title %}payslist{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ asset('css/players.css') }}">

<div class="container">
    <div class="row">
        {% for paye in pays %}
        <div class="col-3">
            <div class="card" >
                <div class='image'>
                <img src={{paye.drapeau}} class="card-img-top" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{paye.name }}</h5>
                    <a href="{{url('pays.detail', {'id': paye.id})}}" class="btn btn-primary">detail</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
